.size span {
    font-size: 11px
}

.color span {
    font-size: 11px
}

.product-deta {
    margin-right: 70px
}

.gift-card:focus {
    box-shadow: none
}

.pay-button {
    color: #fff;
    background-color: #005d6e;

}

.pay-button:hover {
    color: #fff;
    background-color: #027c91;
}

.pay-button:focus {
    color: #fff;
    box-shadow: none;
    background-color: #005d6e;
}

.text-grey {
    color: black
    
}

.qty i {
    font-size: 11px
}

.size-20 {
    font-size: 20px
}

.bide {
    color: #02cef1;
    text-shadow: 2px 2px 5px red;
}

.hr-danger {
    border: solid 4px black
}

.p-danger-text {
    font-size: 22px
}

.cat-pic{
    display: block;margin-left:auto;margin-right:auto;width:100%;max-width:400px
}

.button-width{
    margin-left: 12px;
    margin-right: 12px
}

.btn-txt-color{
    color:lightgray
}

.btn-back-color-danger-page{
    background-color: #005d6e;
}

.home-btn{
    font-size: 30px;
    padding-top: 33.65px;
    padding-bottom: 33.65px
}

.don-ttl{
    font-size: 22px
}

.btn-donate{
    color: gray
}